<div class="home__container">
    <app-card
        gameCover="https://notadogame.com/uploads/game/cover/250x/5bfdc50e5eb61.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4"
        gamePrice="R$79,90"
    ></app-card>
    
    <app-card
        gameCover="https://upload.wikimedia.org/wikipedia/pt/a/a5/God_of_War_Ragnar%C3%B6k_capa.jpg"
        gameLabel="EXCLUSIVO"
        gameType="DISC | PS3"
        gamePrice="R$49,90"
    ></app-card>

    <app-card
    gameCover="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcSsYRYrg_EWfvX0JcIXy8XYXvmm6JXBkdDyeqpl9_OwiqqRtKD8lP9NnfICo0GGGnCBxj20agFgsdHR4V2dSnMOZsTs0sRf76YaOc_XAbv7&usqp=CAE"
    gameLabel="EXCLUSIVO"
    gameType="DISC | PS3"
    gamePrice="R$49,90"
></app-card>
</div>