<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="https://www.pngkey.com/png/full/236-2366469_playstation-logos-brands-and-logotypes-playstation-store-logo.png"
        alt="logo play station store">
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="#" target="_blank">YOUTUBE</a></li>
            <li><a href="https://www.linkedin.com/in/paulo-melo-ab352722b/" target="_blank">LINKEDIN</a></li>
            <li><a href="https://github.com/paulosdsm1" target="_blank">GITHUB</a></li>
        </ul>
    </div>
</div>